body {
    height: 100vh;
    margin: 0;
}
.speedometer-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.speedometer-meter {
    background-color: rgba(0, 128, 0, 0.2);
    transition-duration: 500ms;
}
.speedometer-dial {
    position: absolute;
    padding-bottom: 120px;
    transform: rotate(-120deg);
    transition-duration: 500ms;
}